@import '../../shared/shared.scss';

.pilot {
    display: flex;
    flex-direction: column;
    &__sun-title {
        font-size: 32px;
        line-height: 32px;
        color: $light-blue;
        text-transform: uppercase;
    }
    &__title {
        font-size: 56px;
        line-height: 56px;
        color: $white;
        margin: 16px 0 28px 0;
        text-transform: uppercase;
    }
    &__text {
        font-size: 18px;
        line-height: 32px;
        color: $light-blue;
    }
}

@media screen and (max-width: 1440px) {
    .pilot {
        &__sun-title {
            text-align: center;
            font-size: 24px;
            line-height: 24px;
        }
        &__title {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
        }
        &__text {
            text-align: center;
            font-size: 16px;
            line-height: 28px;
        }
    }
    
}

@media screen and (max-width: 800px) {
    .pilot {
        &__sun-title {
            font-size: 16px;
            line-height: 16px;
        }
        &__title {
            font-size: 24px;
            line-height: 24px;
        }
        &__text {
            font-size: 15px;
            line-height: 25px;
        }
    }
}