<div class="space" [ngClass]="{'destination': router.url.startsWith('/destination'), 'crew': router.url.startsWith('/crew'), 'technology': router.url.startsWith('/technology')}">
  <div class="space__header">
    <div class="space__header--logo">
      <img src="assets/icon/logo.svg" alt="logo">
    </div>
    <div class="space__header--line"></div>
    <div class="space__header--glass">
      <div class="link" routerLink="/" [ngClass]="{'active': router.url == '/'}">
        <span class="link__number">00</span>
        <span class="link__text">Home</span>
      </div>
      <div class="link" routerLink="/destination" [ngClass]="{'active': router.url.startsWith('/destination')}">
        <span class="link__number">01</span>
        <span class="link__text">Destination</span>
      </div>
      <div class="link" routerLink="/crew" [ngClass]="{'active': router.url.startsWith('/crew')}">
        <span class="link__number">02</span>
        <span class="link__text">Crew</span>
      </div>
      <div class="link" routerLink="/technology" [ngClass]="{'active': router.url.startsWith('/technology')}">
        <span class="link__number">03</span>
        <span class="link__text">Technology</span>
      </div>
    </div>
    <div class="space__header--menu">
      <img src="assets/icon/icon-hamburger.svg" alt="menu">
    </div>
  </div>
  <div class="space__content">
    <router-outlet></router-outlet>
  </div>
</div>